<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="directories" type="Wagner.FilePruner.DirectoriesSection, FilePruner" />
  </configSections>

  <directories>
    <!--
        This section will contain one or more <directory> tags. Each tag is
        defined as:

        <directory
            name=""
            recursive=""
            removeEmptySubdirectories=""
            skipHiddenDirectories=""
            skipReadOnlyDirectories=""
            skipSystemDirectories=""
            skipHiddenFiles=""
            skipReadOnlyFiles=""
            skipSystemFiles=""
            dateToUse=""
            ageThreshold="" />

        where:
            name
                The name of the directory in which to start the pruning
                operation. This can be either a UNC or drive-letter path.
                This attribute is required.

            recursive
                Either "true" or "false" depending on whether or not you
                want the subdirectories to be traversed. This attribute is
                optional and defaults to true.

            removeEmptySubdirectories
                Either "true" or "false" depending on whether or not you
                want empty subdirectories to be removed. This attribute is
                optional and defaults to true.

            skipHiddenDirectories
                Either "true" or "false" depending on whether or not you
                want hidden directories to be skipped. If a hidden
                directory is skipped, none of its files or subdirectories
                will be processed. This attribute is optional and defaults
                to false.

            skipReadOnlyDirectories
                Either "true" or "false" depending on whether or not you
                want read-only directories to be skipped. If a read-only
                directory is skipped, none of its files or subdirectories
                will be processed. This attribute is optional and defaults
                to false.

            skipSystemDirectories
                Either "true" or "false" depending on whether or not you
                want system directories to be skipped. If a system
                directory is skipped, none of its files or subdirectories
                will be processed. This attribute is optional and defaults
                to false.

            skipHiddenFiles
                Either "true" or "false" depending on whether or not you
                want hidden files to be skipped. This attribute is optional
                and defaults to false.

            skipReadOnlyFiles
                Either "true" or "false" depending on whether or not you
                want read-only files to be skipped. This attribute is
                optional and defaults to false.

            skipSystemFiles
                Either "true" or "false" depending on whether or not you
                want system files to be skipped. This attribute is optional
                and defaults to false.

            dateToUse
                This value indicates which file date to use when making the
                comparison. Valid values are "Write" (last write date),
                "Create" (creation date), or "Access" (last access date).
                The value is case-sensitive. This attribute is optional and
                defaults to "Create."

            ageThreshold
                This is the number of hours old a file must be before it is
                deleted. This attribute is required.

        For example:

        <directory
            name="\\cwagner-desk1\FilePrunerTest"
            skipReadOnlyFiles="true"
            dateToUse="Create"
            ageThreshold="168" />
    -->
  </directories>

  <system.diagnostics>
    <switches>
      <!--
          Set TraceLevel value of the TraceSwitch to control tracing
              0 = Off
              1 = Error
              2 = Warning
              3 = Info
              4 = Verbose
      -->
      <add name="traceLevel" value="3" />
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>